{% extends 'base.html.twig' %} 

{% block title %}Accueil{% endblock %} 

{% block body %}

<section class="home-header">
<div class="home-header_image">
    <div class="home-title_container hidden">
        <h1>Pyrénnées Rando Club</h1>
    </div>
    <div class="home-slogan_container hidden">
        <p>La montagne à vos pieds</p>
    </div>
</div>
</section>

<section class="home-about">
    <div class="to-about_container home_container">
        <div class="global-container">
            <div class="home-section-title_container">
                <h2>Découvrir le club</h2>
            </div>
            <div class="to-about_row home_row">
                <p class="to-about_item">
                    Lorem ipsum dolor sit amet. Quo magni saepe eum tempore id
                    quos quis. Eum voluptas pariatur et veritatis enim sit
                    consequatur molestiae eos voluptatem doloremque ad omnis
                    repellat est odit obcaecati. Eum odio voluptatum vel
                    internos internos est reiciendis aliquid. Et accusamus
                    tempora sit laboriosam facere quo quaerat laudantium ab
                    ipsam sunt ex fuga voluptatem cum blanditiis corporis. Aut
                    vero illo est cumque doloribus aut dolor beatae ut
                    temporibus velit vel totam accusamus. Sit ipsam expedita nam
                    unde velit sed sunt voluptatem cum nesciunt iure ut facere
                    iure! Non dolorem necessitatibus qui rerum autem qui
                    possimus tenetur? Sit rerum voluptatem eum esse reiciendis
                    ut totam cupiditate et fuga molestiae. 33 asperiores minus
                    ab obcaecati aliquid ut dolor molestiae in nihil consectetur
                    ut quae veniam ea dolorem repudiandae. Ut iste esse et sint
                    quaerat aut quos vero et reprehenderit recusandae aut
                    ratione saepe est voluptate voluptatem.
                </p>
                <div
                    class="adaptive-img--contain to-about_picture to-about_item"
                >
                    <span>
                        <img
                            src="{{
                                asset(
                                    'assets/images/hikers_shinning_valley.jpg'
                                )
                            }}"
                            alt=""
                        />
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-activities">
    <div class="to-activities_container home_container js-scroll slide-left">
        <div class="global-container">
            <div class="home-section-title_container">
                <h2>Choisissez votre activité</h2>
            </div>
            <div class="to-activities_row home_row">
                <div class="home-activity-card">
                    <a href="/activities#hiking-card">
                        <div class="adaptive-img--cover home-card_picture">
                            <span>
                                <img
                                    src="{{
                                        asset(
                                            'assets/images/home_card_hiking.jpg'
                                        )
                                    }}"
                                    alt="randonnée"
                                />
                            </span>
                        </div>
                        <div class="activity-card_info">
                            <!--                         <p>
                            Lorem ipsum dolor sit amet. Quo magni saepe eum
                            tempore id quos quis. Eum voluptas pariatur et
                            veritatis enim sit consequatur molestiae eos
                            voluptatem doloremque ad omnis repellat est odit
                            obcaecati
                        </p> -->
                        </div>
                        <div class="activity-card-bottom">
                            <h3>Randonnée</h3>
                        </div>
                    </a>
                </div>

                <div class="home-activity-card">
                    <a href="activities#trek-card">
                        <div class="adaptive-img--cover home-card_picture">
                            <span>
                                <img
                                    src="{{
                                        asset(
                                            'assets/images/home_card_trek.jpg'
                                        )
                                    }}"
                                    alt="trek"
                                />
                            </span>
                        </div>
                        <div class="activity-card_info">
                            <!--                         <p>
                            Lorem ipsum dolor sit amet. Quo magni saepe eum
                            tempore id quos quis. Eum voluptas pariatur et
                            veritatis enim sit consequatur molestiae eos
                            voluptatem doloremque ad omnis repellat est odit
                            obcaecati
                        </p> -->
                        </div>
                        <div class="activity-card-bottom">
                            <h3>Trek</h3>
                        </div>
                    </a>
                </div>

                <div class="home-activity-card">
                    <a href="activities#trail-card">
                        <div class="adaptive-img--cover home-card_picture">
                            <span>
                                <img
                                    src="{{
                                        asset(
                                            'assets/images/home_card_trail.jpg'
                                        )
                                    }}"
                                    alt="trail"
                                />
                            </span>
                        </div>
                        <div class="activity-card_info">
                            <!--                         <p>
                            Lorem ipsum dolor sit amet. Quo magni saepe eum
                            tempore id quos quis. Eum voluptas pariatur et
                            veritatis enim sit consequatur molestiae eos
                            voluptatem doloremque ad omnis repellat est odit
                            obcaecati
                        </p> -->
                        </div>
                        <div class="activity-card-bottom">
                            <h3>Trail</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-middle">
    <div class="home-picture-transition"></div>

    <div class="to-prices_container home-container">
        <div class="global-container">
            <div class="central_row home_row">
                <div class="home-prices-card">
                    <h2>Prêt pour l'aventure ?</h2>
                    <p>
                        Lorem ipsum dolor sit amet. Quo magni saepe eum tempore
                        id quos quis. Eum voluptas pariatur et veritatis enim
                        sit consequatur molestiae eos voluptatem doloremque ad
                        omnis repellat est odit obcaecati
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet. Quo magni saepe eum tempore
                        id quos quis. Eum voluptas pariatur et veritatis enim
                        sit consequatur molestiae eos voluptatem doloremque ad
                        omnis repellat est odit obcaecati
                    </p>
                    <div>
                        <div class="yellow-btn_container">
                            <a href="/prices"
                                >Essayez notre formule découverte</a
                            >
                        </div>
                    </div>
                </div>

                <div class="level_container">
                    <h2>Des niveaux de difficulté adaptés à chacun</h2>
                    <div class="level-columns_container">
                        <div class="level-column">
                            <i class="fa-solid fa-mountain easy-icon"></i>
                            <span>Facile</span>
                            <ul class="level-list">
                                <li>Randonnées uniquement</li>
                                <li>Adapté aux novices</li>
                                <li>Randonnées courtes</li>
                                <li>Faible dénivelé</li>
                            </ul>
                        </div>
                        <div class="level-column">
                            <i class="fa-solid fa-mountain medium-icon"></i>
                            <span>Moyen</span>
                            <ul class="level-list">
                                <li>Randonnées, trek, trail</li>
                                <li>Marcheurs réguliers</li>
                                <li>Durée moyenne à longue</li>
                                <li>Dénivelé moyen</li>
                            </ul>
                        </div>
                        <div class="level-column">
                            <i class="fa-solid fa-mountain hard-icon"></i>
                            <span>Difficile</span>
                            <ul class="level-list">
                                <li>Randonnées, trek, trail</li>
                                <li>Adapté aux sportifs</li>
                                <li>Durée moyenne à longue</li>
                                <li>Dénivelé moyen à fort</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-blog">
    <div class="home-blog_container home_container">
        <div class="global-container">
            <div class="home-blog-text_container">
                <div class="home-section-title_container">
                    <h2>Réagissez à nos derniers articles</h2>
                </div>
                <p>
                    Créer un compte sur notre site vous permet d'accéder à nos articles et de poster des
                    commentaires sur notre blog. C'est aussi une façon
                    d'échanger autour d'une passion commune.
                </p>

                <div class="yellow-btn_container">
                    <a href="/register">M'inscrire maintenant</a>
                </div>
            </div>
        </div>
        <div class="articles-cards_container my-slider">
            {% for article in articles %}

            <div class="article-card">
                <div class="article-card_picture adaptive-img--contain">
                    <span>
                        <img
                            src="{{asset('uploads/articles/'~article.picture)}}"
                            alt="#"
                        />
                    </span>
                </div>
                <div class="article-card_info">
                    <div class="article-card_title">
                        {{ article.title }}
                    </div>
                    <div class="article-card_date">
                        {{ article.publishedDate ? article.publishedDate|date('d-m-Y', 'Europe/Paris') : '' }}
                    </div>

                    <div class="blog-btn_container">
                        <a
                            href="{{
                                path('app_articles_show', { id: article.id })
                            }}"
                            >Voir l'article</a
                        >
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

<section class="home-soon">
    <div class="home-soon_container home_container">
        <div class="global-container">
            <span>A bientôt !</span>
        </div>
    </div>
</section>

<div class="mountain-background"></div>

{% endblock %}
