{% extends 'base.html.twig' %}


{% block body %}
<div class="contact-form">
    <div class="form-group">
{{ form_start(contact_form) }}
    {{ form_row(contact_form.firstName, {'attr': {'class': 'form-control'}}) }}


</div>
<div class="form-group">
    {{ form_row(contact_form.email, {'attr': {'class': 'form-control'}}) }}

</div>
<div class="form-group">
    {{ form_row(contact_form.message, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">
    <input type="submit" value="Send" class="btn">
</div>
{{ form_end(contact_form) }}
</div>

</div>
{% endblock %}
