{% extends 'base.html.twig' %} {% block title %}Contact{% endblock %} 

{% block body %}

<div class="global-container"></div>
<div class="contact-page_container">
    <div class="global-container">
        <div class="contact-form_container">
            <div class="contact-form">
                <div class="form-group">
                    <h1>Contactez-nous</h1>
                    {{ form_start(contact_form) }}
                    {{ form_row(contact_form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contact_form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contact_form.message, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group contact-submit_container">
                    <div class="contact-btn_container">
                        <input type="submit" value="Envoyer" class="btn" />
                    </div>
                </div>
                {{ form_end(contact_form) }}
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success contact-valid">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
