<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Pyrénnées Rando Club{% endblock %}</title>
        <!--    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" /> -->
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
        {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <body>
        {% include 'template-parts/header.html.twig' %}
    <main>
        {% block body %} 
        
        {% endblock %}
    </main>
        {% include 'template-parts/footer.html.twig' %} 
        
        {% for message in app.flashes('success') %}
        <div class="alert-success">
            {{ message }}
        </div>
        {% endfor %} 
        
        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
        <script src="{{ asset('assets/scripts/blog_carousel.js') }}"></script>
        <script src="{{ asset('assets/scripts/hamburger_menu.js') }}"></script>
        {% endblock %}
    
    </body>
</html>
