{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Published_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.publishedDate ? comment.publishedDate|date('d-m-y H:i:s', 'Europe/Paris') : '' }}</td>
                <td>
                    <a href="{{ path('app_comments_show', {'id': comment.id}) }}">Voir le commentaire</a>
                    <a href="{{ path('app_comments_edit', {'id': comment.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun commentaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comments_new') }}">Créer un nouveau commentaire</a>
{% endblock %}
